h1{
    font-size: 50px;    
    font-family: sans-serif;  
    font-weight: bold;  
}

h2{
    font: bold 14 px   sans-serif; 
}

body{
    text-align: center; 
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;  
    background-color: rgb(10, 16, 183);     
    margin: 25px auto;  
    padding: 40px;      
}

header{
    background-color: rgb(21, 17, 39);   
}

.cabezera{
    background-color: white;
    border: 1px solid black;
    
}

.cabezera h1{
    text-align: left;
    padding: 20px;

}

.menu{
    background-color: whitesmoke;
    padding: 5px 15px;  
    text-align: left;  
    border: 1px solid black;
}

.menu li{  
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    
    display: inline-block;  
}

.seccion{
    background-color: black;
    margin: 20px;
    width: 58%;   
    border: 1px solid black;
    float: left;   
}

.columna{
    background-color: rgb(245, 41, 18);
    margin: 20px 0px;
    width: 36%;
    border: 1px solid black;
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: rgb(123, 233, 198);
    font: bold 16px times new roman;
}

.seccion article{
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    border: 1px solid whitesmoke;
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: rgb(246, 6, 6);
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 80px;
    display: block;
    margin: auto;
    padding: 10px;
}
.columna blockquote{
    display: flex;
    justify-content:center;
    border: 1px solid black;
    background-color:white;
    padding: 80px;
    font: bold 14px sans-serif;
}

