<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS template</title>
</head>
<body>
    <h1>EJS</h1>

    <ul>
        <% people.forEach(function (people){ %>
            <li><%= people.name %></li>
        <% }) %>
    </ul>

</body>
</html>